
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<hr />
<div class="row">
    <div class="col-md-5">
        <section id="socialLoginForm">
            @Html.Partial("_LoginFormPartial")
        </section>
    </div>
    <div class="col-md-2">
        <p class="text-center"></p>
    </div>
    <div class="col-md-5">
        <section id="socialLoginForm">
            @Html.Partial("_RegisterPartial")
        </section>
    </div>
</div>

